body{
    margin: 0;
    padding: 0;
}
nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(lightblue,white, #1890ff);
}

.logo {
    height: 80px;
    width: 80px;
    margin: 0 4rem;
}

.navBar ul {
    display: flex;
    justify-content: space-around;
    margin-right: 3rem;
}

.navBar ul li {
    list-style-type: none;
    margin: 1rem 3rem;
    font-weight: bold;
}

.link{ 
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.link:hover{
    color: lightblue;
}
 
  /* On screens that are 740px or less, set the background color to olive */
  @media screen and (max-width: 740px) {
    .navBar ul{
        flex-direction: column;
        margin: 0;
    }

    .navBar{
        width: 100%;
        justify-content: space-around;
    }

    .mainScreen{
        width: 100%;
    }

    .navBar ul li {
        margin: 0;
    }
    .logo{
        margin: 0;
    }

  }




  